*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  border-radius: 14px;
  padding: 20px 35px;
  color: var(--WHITE);
  background-color: var(--EERIE-BLACK);
  transition: opacity ease 0.3s;
  outline-color: var(--INCHWORM);
  text-decoration: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 1;
}

.hidden {
  display: none !important;
}

.title {
  display: inline-block;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding: 0 7px;
  background-color: var(--ANTI-FLASH-WHITE);
  border-radius: 7px;
}

.desc {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 12px;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --INCHWORM: #B9FF66;
  --ANTI-FLASH-WHITE: #F3F3F3;
  --EERIE-BLACK: #191A23;
  --BLACK: #000;
  --WHITE: #fff;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 60px;
  background-color: var(--WHITE);
  transition: ease 0.3s;
  z-index: 1000;
}

.shadow {
  padding: 15px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.header__row {
  display: flex;
  align-items: center;
}

.header__logo {
  outline-color: var(--INCHWORM);
  transition: opacity ease 0.3s;
}
.header__logo img {
  display: block;
  width: 220px;
  height: 56px;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 1;
}

.nav {
  margin-left: auto;
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--BLACK);
  margin-right: 40px;
  outline-color: var(--INCHWORM);
  transition: opacity ease 0.3s;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link:active {
  opacity: 1;
}

.header__btn {
  background-color: transparent;
  color: var(--BLACK);
  border: 1px solid var(--BLACK);
  transition: background-color ease 0.3s;
  margin-right: 0;
}
.header__btn:hover {
  background-color: var(--EERIE-BLACK);
  color: var(--WHITE);
}

.header__menu {
  display: none;
}

.header__sidebar {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .nav__link {
    margin-right: 34px;
  }
  .header__btn {
    padding: 18px 28px;
  }
}
@media only screen and (max-width: 1200px) {
  .header__logo img {
    width: 192px;
    height: 48px;
  }
  .nav__link {
    font-size: 18px;
    margin-right: 24px;
  }
  .header__btn {
    font-size: 18px;
    padding: 10px 21px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__logo img {
    width: 182px;
    height: 42px;
  }
  .nav__link {
    margin-right: 14px;
  }
  .header__btn {
    font-size: 18px;
    padding: 10px 18px;
  }
}
@media only screen and (max-width: 922px) {
  .nav,
  .header__btn {
    display: none;
  }
  .header__menu {
    display: block;
    position: relative;
    margin-left: auto;
    transition: opacity ease 0.3s;
    cursor: pointer;
  }
  .header__menu:hover {
    opacity: 0.6;
  }
  .header__menu:active {
    opacity: 1;
  }
  .header__sidebar {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    text-align: right;
    padding: 140px 26px 0 20px;
    background-color: var(--EERIE-BLACK);
  }
  .header__sidebar .nav__link {
    font-size: 22px;
    margin: 0;
    padding-bottom: 22px;
    color: var(--WHITE);
  }
  .header__sidebar--closebtn {
    position: absolute;
    top: 42px;
    right: 25px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity ease 0.3s;
  }
  .header__sidebar--closebtn:hover {
    opacity: 0.6;
  }
  .header__sidebar--closebtn:active {
    opacity: 1;
  }
}
.hero {
  padding-top: 200px;
}

.hero__content {
  display: grid;
  grid-template-columns: 531px auto;
  grid-template-rows: minmax(min-content, 200px) minmax(min-content, 112px) auto;
  justify-content: space-between;
  row-gap: 35px;
}

.hero__content--title {
  font-size: 60px;
  font-weight: 500;
}

.hero__content-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.hero__content--btn {
  height: 68px;
  max-width: 264px;
}

.hero__picture {
  display: block;
  grid-column: 2/3;
  grid-row: 1/4;
  max-width: 600px;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .hero__content {
    grid-template-columns: 512px auto;
    grid-template-rows: minmax(min-content, 180px) minmax(min-content, 84px) auto;
    row-gap: 12px;
  }
  .hero__content--title {
    font-size: 52px;
  }
  .hero__content-desc {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .hero__picture {
    max-width: 532px;
  }
  .hero__content--btn {
    height: 58px;
    max-width: 254px;
    font-size: 18px;
    padding: 10px 21px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__content {
    grid-template-columns: 440px auto;
    grid-template-rows: minmax(min-content, 156px) minmax(min-content, 84px) auto;
    row-gap: 0;
  }
  .hero__content--title {
    font-size: 42px;
  }
  .hero__picture {
    max-width: 448px;
  }
  .hero__content--btn {
    height: 52px;
    max-width: 217px;
  }
}
@media only screen and (max-width: 922px) {
  .hero {
    padding-top: 152px;
  }
  .hero__content {
    grid-template-columns: minmax(min-content, 675px);
    grid-template-rows: repeat(4, auto);
  }
  .hero__content--title {
    font-size: 43px;
    margin-bottom: 10px;
  }
  .hero__picture {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 20px;
  }
  .hero__content-desc {
    font-size: 16px;
    margin-bottom: 26px;
  }
  .hero__content--btn {
    height: 55px;
    max-width: 224px;
  }
}
@media only screen and (max-width: 430px) {
  .hero__content--btn {
    max-width: 100%;
    height: 68px;
    font-size: 20px;
  }
  .hero__content-desc {
    line-height: 24px;
  }
}
.company {
  padding-top: 70px;
  width: 100%;
}

.company__picture {
  justify-content: space-between;
}

.company__picture--img {
  flex-shrink: 1;
  height: 48px;
  width: 127px !important;
}

@media only screen and (max-width: 1200px) {
  .company {
    padding-top: 54px;
  }
}
.service {
  padding-top: 140px;
}

.service__content {
  display: flex;
  margin-bottom: 80px;
}

.service__content--title {
  margin-right: 40px;
}

.service__content--desc {
  max-width: 580px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.service__list--item {
  display: grid;
  grid-template-columns: 221px 210px;
  grid-template-rows: auto 41px;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: auto;
  background-color: var(--ANTI-FLASH-WHITE);
  border-radius: 45px;
  padding: 50px;
  border: 1px solid var(--EERIE-BLACK);
  border-bottom: 5px solid var(--EERIE-BLACK);
}

.service__list--item:nth-child(3),
.service__list--item:nth-child(6) {
  background-color: var(--EERIE-BLACK);
}

.service__item--subtitle {
  margin-bottom: 93px;
  font-size: 30px;
}
.service__item--subtitle span {
  display: inline-block;
  padding: 0 7px;
  border-radius: 7px;
  background-color: var(--ANTI-FLASH-WHITE);
}
.service__item--subtitle.service__item--subtitle-payper span {
  background-color: var(--WHITE);
}
.service__item--subtitle.service__item--subtitle-social span {
  background-color: var(--WHITE);
}
.service__item--subtitle.service__item--subtitle-content span {
  background-color: var(--WHITE);
}

.service__item--img {
  grid-column: 2/3;
  grid-row: 1/3;
}

.service__item--link {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 20px;
  line-height: 24px;
  color: var(--BLACK);
}

.service__item--link-dark {
  color: var(--WHITE);
}

.service__link--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50px;
  background-color: var(--EERIE-BLACK);
}

.service__link--icon-dark {
  background-color: var(--WHITE);
}
.service__link--icon-dark path {
  fill: var(--BLACK);
}

@media only screen and (max-width: 1280px) {
  .service__list {
    justify-content: center;
  }
  .service__list--item {
    max-width: 560px;
    padding: 32px;
  }
}
@media only screen and (max-width: 1200px) {
  .service__list {
    gap: 26px;
  }
  .service__list--item {
    max-width: 500px;
    padding: 24px;
  }
}
@media only screen and (max-width: 1076px) {
  .service__list--item {
    max-width: 468px;
    grid-template-columns: 221px 172px;
  }
  .service__item--subtitle {
    margin-bottom: 52px;
    font-size: 27px;
  }
  .service__item--img {
    width: 160px;
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .service__item--link {
    font-size: 18px;
  }
  .service__link--icon {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (max-width: 985px) {
  .service__content {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .service__content--title {
    align-self: flex-start;
    margin-bottom: 16px;
  }
  .service__list {
    justify-content: flex-start;
  }
  .service__list--item {
    max-width: 600px;
    grid-template-columns: 221px 172px;
    padding: 50px;
  }
  service__item--subtitle {
    font-size: 26px;
  }
  .service__item--img {
    width: 165px;
    height: 130px;
  }
  .service__link--icon {
    width: 41px;
    height: 41px;
  }
  .service__item--link {
    font-size: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .service__list--item {
    grid-template-columns: 161px auto;
    grid-template-rows: 66px 130px;
    row-gap: 27px;
  }
  .service__item--subtitle {
    grid-column: 1/3;
    max-width: 205px;
    margin: 0;
  }
  .service__item--img {
    grid-row: 2/3;
    justify-self: flex-end;
  }
  .service__item--link {
    align-self: flex-end;
    font-size: 0;
  }
}
@media only screen and (max-width: 440px) {
  .service__content--title {
    align-self: center;
    margin-bottom: 30px;
    background-color: var(--INCHWORM);
  }
  .service__content--desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .service__list--item {
    grid-template-columns: auto auto;
    grid-template-rows: 66px 130px;
    row-gap: 27px;
    padding: 30px;
  }
  .service__item--payper,
  .service__item--content {
    background-color: var(--INCHWORM);
  }
  .service__item--subtitle-search span,
  .service__item--subtitle-email span {
    background-color: var(--INCHWORM);
  }
  .service__item--img {
    width: 142px;
    height: 110px;
    align-self: flex-end;
  }
}
.help {
  padding-top: 81px;
}

.help__row {
  display: flex;
  position: relative;
  padding: 60px;
  background-color: var(--ANTI-FLASH-WHITE);
  border-radius: 45px;
}

.help__content {
  max-width: 500px;
}

.help__content--title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 26px;
}

.help__content--desc {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 26px;
}

.help__content--btn {
  display: inline-block;
}

.help__image {
  position: absolute;
  top: -23.5px;
  right: 135px;
}
.help__image img {
  display: block;
  width: 360px;
  height: 394px;
}

@media only screen and (max-width: 1200px) {
  .help__image {
    right: 70px;
  }
}
@media only screen and (max-width: 1076px) {
  .help {
    padding-top: 70px;
  }
  .help__content--title,
  .help__content--desc {
    margin-bottom: 22px;
  }
  .help__content--btn {
    padding: 15px 27px;
  }
  .help__image {
    top: -3.5px;
    right: 74px;
  }
  .help__image img {
    width: 296px;
    height: auto;
  }
}
@media only screen and (max-width: 985px) {
  .help__row {
    padding: 50px;
  }
  .help__content {
    max-width: 372px;
  }
  .help__image {
    top: 10px;
    right: 90px;
  }
  .help__image img {
    width: 282px;
  }
}
@media only screen and (max-width: 922px) {
  .help__image {
    top: 14px;
    right: 55px;
  }
  .help__image img {
    width: 282px;
  }
}
@media only screen and (max-width: 788px) {
  .help__image {
    top: 45px;
    right: 38px;
  }
  .help__image img {
    width: 240px;
  }
}
@media only screen and (max-width: 728px) {
  .help__content {
    max-width: 500px;
  }
  .help__image {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .help__content--title {
    font-size: 26px;
    margin-bottom: 18px;
  }
  .help__content--desc {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .help__content--btn {
    display: block;
    text-align: center;
  }
  .help__content--btn span {
    display: none;
  }
}
@media only screen and (max-width: 395px) {
  .help__content--btn {
    font-size: 18px;
    padding: 12px 14px;
  }
}
@media only screen and (max-width: 375px) {
  .help__row {
    padding: 40px;
  }
}
.case {
  padding-top: 163.5px;
}

.case__content {
  display: flex;
}

.case__content--title {
  margin-right: 40px;
}

.case__content--desc {
  max-width: 580px;
}

.swiper.case__swiper {
  margin-top: 80px;
  padding: 70px 60px;
  border-radius: 45px;
  background-color: var(--EERIE-BLACK);
}

.case__wrap {
  -moz-column-gap: 128px;
       column-gap: 128px;
}

.case__wrap--slide {
  width: 286px !important;
  position: relative;
  background-color: var(--EERIE-BLACK);
}
.case__wrap--slide:not(:last-child):after {
  content: "";
  width: 1px;
  height: 164px;
  position: absolute;
  top: 0;
  right: -64px;
  background-color: var(--WHITE);
}

.case__desc {
  font-size: 18px;
  font-weight: 400;
  color: var(--WHITE);
  margin-bottom: 20px;
  cursor: default;
}

.case__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  max-width: 138px;
  color: var(--WHITE);
  transition: opacity 0.2s ease;
}
.case__link:hover {
  opacity: 0.8;
}
.case__link:active {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .case {
    padding-top: 128px;
  }
  .swiper.case__swiper {
    margin-top: 65px;
    padding: 60px 42px;
  }
}
@media only screen and (max-width: 985px) {
  .case__content {
    flex-direction: column;
  }
  .case__content--title {
    align-self: flex-start;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .swiper.case__swiper {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
  }
  .case__wrap {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .case__wrap--slide {
    width: 350px !important;
    padding: 42px 50px;
    border-radius: 45px;
  }
  .case__wrap--slide::after {
    display: none;
  }
}
@media only screen and (max-width: 440px) {
  .case__content--title {
    align-self: center;
    margin-bottom: 30px;
    background-color: var(--INCHWORM);
  }
  .case__content--desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
@media only screen and (max-width: 425px) {
  .swiper.case__swiper {
    margin-top: 42px;
  }
  .case__content--title {
    font-size: 38px;
  }
  .case__wrap--slide {
    width: 320px !important;
    padding: 32px 40px;
  }
  .case__link {
    font-size: 16px;
  }
}
.process {
  padding-top: 140px;
}

.process__content {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.process__content--title {
  margin-right: 40px;
}

.process__content--desc {
  max-width: 292px;
}

.process__accordion {
  width: 100%;
}

.accordion__item {
  position: relative;
  padding: 41px 60px;
  border-radius: 45px;
  background-color: var(--ANTI-FLASH-WHITE);
  border: 1px solid var(--EERIE-BLACK);
  border-bottom: 5px solid var(--EERIE-BLACK);
  cursor: pointer;
}
.accordion__item + * {
  margin-top: 30px;
}

.accordion__item--subtitle {
  display: flex;
  align-items: center;
  height: 77px;
  color: #000;
  font-size: 30px;
  font-weight: 500;
  position: relative;
}
.accordion__item--subtitle span {
  font-size: 60px;
  font-weight: 500;
  color: #000;
  margin-right: 25px;
}
.accordion__item--subtitle::after {
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  width: 58px;
  height: 58px;
  font-size: 58px;
  border: 1px solid var(--BLACK);
  border-radius: 50px;
  transform: translateY(-50%);
}

.accordion__item--desc {
  display: none;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  min-height: 120px;
  font-size: 18px;
  font-weight: 400;
}
.accordion__item--desc::before {
  content: "";
  width: 100%;
  height: 1px;
  margin-bottom: 38px;
  background-color: var(--EERIE-BLACK);
}

.accordion__item.active .accordion__item--desc {
  display: block;
}

.accordion__item.active .accordion__item--subtitle::after {
  content: "-";
  align-items: flex-end;
}

@media only screen and (max-width: 985px) {
  .process {
    padding-top: 128px;
  }
  .process__content {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 65px;
  }
  .process__content--title {
    margin: 0 0 16px;
  }
  .accordion__item {
    padding: 32px 48px;
  }
  .accordion__item--subtitle {
    font-size: 26px;
  }
  .accordion__item--subtitle span {
    font-size: 54px;
  }
  .accordion__item--subtitle::after {
    width: 46px;
    height: 46px;
  }
  .accordion__item.active .accordion__item--subtitle::after {
    content: "-";
    align-items: center;
  }
}
@media only screen and (max-width: 740px) {
  .accordion__item--subtitle {
    font-size: 22px;
    padding-right: 50px;
  }
  .accordion__item--subtitle span {
    font-size: 46px;
  }
  .accordion__item--subtitle::after {
    width: 40px;
    height: 40px;
    font-size: 44px;
  }
  .accordion__item--desc {
    min-height: 110px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 495px) {
  .accordion__item {
    padding: 30px 30px;
  }
  .accordion__item + * {
    margin-top: 20px;
  }
  .accordion__item--subtitle {
    font-size: 18px;
  }
  .accordion__item--subtitle span {
    font-size: 30px;
  }
  .accordion__item--subtitle::after {
    width: 30px;
    height: 30px;
    font-size: 35px;
  }
  .accordion__item--desc {
    font-size: 15px;
  }
}
@media only screen and (max-width: 440px) {
  .process__content {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .process__content--title {
    font-size: 38px;
    margin-bottom: 30px;
    background-color: var(--INCHWORM);
  }
  .process__content--desc {
    font-size: 16px;
    line-height: 24px;
  }
  .accordion__item--subtitle {
    padding-right: 40px;
  }
}
@media only screen and (max-width: 390px) {
  .process__content--title {
    margin-bottom: 20px;
  }
  .accordion__item {
    padding: 14px 22px;
  }
  .accordion__item--subtitle {
    font-size: 16px;
  }
  .accordion__item--subtitle span {
    margin-right: 12px;
  }
}
.team {
  padding-top: 140px;
}

.team__content {
  display: flex;
  margin-bottom: 80px;
}

.team__content--title {
  margin-right: 40px;
}

.team__content--desc {
  max-width: 473px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  row-gap: 40px;
  list-style: none;
  margin-bottom: 40px;
}

.team__list--item {
  max-width: 387px;
  padding: 40px 35px;
  border-radius: 45px;
  border: 1px solid var(--EERIE-BLACK);
  border-bottom: 5px solid var(--EERIE-BLACK);
  position: relative;
}

.team__item--me {
  display: flex;
  padding-bottom: 28px;
  margin-bottom: 28px;
  border-bottom: 1px solid var(--EERIE-BLACK);
}
.team__item--me img {
  max-width: 103px;
  height: 103px;
}
.team__item--me span {
  align-self: flex-end;
  font-size: 18px;
  margin-left: 18px;
}
.team__item--me span b {
  font-size: 20px;
  font-weight: 500;
}

.team__me--link {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 40px;
  right: 35px;
  transition: opacity ease 0.3s;
}
.team__me--link svg {
  display: block;
}
.team__me--link:hover {
  opacity: 0.8;
}
.team__me--link:active {
  opacity: 1;
}

.list__item--desc {
  font-size: 18px;
  font-weight: 400;
}

.team__btn {
  max-width: 269px;
  width: 100%;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (max-width: 1220px) {
  .team__list--item {
    max-width: 360px;
    padding: 26px 28px;
  }
  .team__item--me span {
    margin-left: 12px;
  }
}
@media only screen and (max-width: 1150px) {
  .team__list {
    row-gap: 32px;
  }
  .team__list--item {
    max-width: 336px;
    padding: 20px 28px;
  }
  .team__item--me img {
    max-width: 78px;
    height: auto;
  }
  .team__item--me span b {
    font-size: 18px;
  }
  .team__item--me span {
    font-size: 16px;
  }
  .list__item--desc {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1080px) {
  .team__list {
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .team__list--item {
    max-width: 387px;
    padding: 40px 35px;
  }
  .team__item--me img {
    max-width: 105px;
    height: auto;
  }
  .team__item--me span b {
    font-size: 20px;
  }
  .team__item--me span,
  .list__item--desc {
    font-size: 18px;
  }
  .team__btn {
    margin-left: 0;
  }
}
@media only screen and (max-width: 985px) {
  .team__content {
    flex-direction: column;
    margin-bottom: 65px;
  }
  .team__content--title {
    align-self: flex-start;
    margin-bottom: 16px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 765px) {
  .team__list {
    row-gap: 32px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .team__list--item {
    max-width: 336px;
    padding: 20px 28px;
  }
  .team__item--me img {
    max-width: 78px;
    height: auto;
  }
  .team__item--me span b {
    font-size: 18px;
  }
  .team__item--me span {
    font-size: 16px;
  }
  .list__item--desc {
    font-size: 16px;
  }
  .team__btn {
    max-width: 252px;
    font-size: 18px;
    padding: 14px 30px;
  }
}
@media only screen and (max-width: 682px) {
  .team__list {
    grid-template-columns: auto;
  }
  .team__list--item {
    max-width: 100%;
    padding: 40px 35px;
  }
  .team__item--me img {
    max-width: 105px;
    height: auto;
  }
  .team__item--me span b {
    font-size: 20px;
  }
  .team__item--me span,
  .list__item--desc {
    font-size: 18px;
  }
}
@media only screen and (max-width: 440px) {
  .team__content {
    margin-bottom: 40px;
  }
  .team__content--title {
    align-self: center;
    margin-bottom: 30px;
    background-color: var(--INCHWORM);
  }
  .team__content--desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
@media only screen and (max-width: 430px) {
  .team__content--title {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .team__list {
    row-gap: 30px;
  }
  .team__item--me {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .team__item--me span b {
    font-size: 18px;
  }
  .team__item--me span,
  .list__item--desc {
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .team__list--item {
    padding: 27px 22px;
  }
  .team__item--me img {
    max-width: 90px;
  }
  .team__item--me span {
    margin-left: 6px;
  }
}
.testimonials {
  padding-top: 60px;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.testimonials__content--title {
  margin-bottom: 30px;
  background-color: var(--INCHWORM);
}

.testimonials__content--desc {
  max-width: 473px;
  text-align: center;
  font-size: 16px;
}

.testimonials__swiper--row {
  color: var(--WHITE);
  background-color: var(--EERIE-BLACK);
  border-radius: 45px;
  padding: 25px 15px;
}

.testimonials__slide--client-desc {
  position: relative;
  font-size: 15px;
  padding: 26px;
  border: 1px solid var(--INCHWORM);
  border-radius: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 44px;
}
.testimonials__slide--client-desc::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: -16px;
  left: 51px;
  rotate: 45deg;
  border: 1px solid var(--INCHWORM);
  border-top: none;
  border-left: none;
  background-color: var(--EERIE-BLACK);
  z-index: 1;
}

.testimonials__slide--client-name {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  padding-left: 62px;
  margin-bottom: 60px;
}
.testimonials__slide--client-name b {
  font-weight: 600;
  font-size: 18px;
  color: var(--INCHWORM);
}

.testimonials__pagination.swiper-pagination {
  position: static;
}
.testimonials__pagination.swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-image: url("/img/testimonials/pagination.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.testimonials__prev.swiper-button-prev,
.testimonials__next.swiper-button-next {
  display: none;
}

@media only screen and (min-width: 440px) {
  .testimonials__content {
    align-items: flex-start;
  }
  .testimonials__content--title {
    margin-bottom: 16px;
    background-color: var(--ANTI-FLASH-WHITE);
  }
  .testimonials__content--desc {
    text-align: left;
  }
  .testimonials__slide--client-desc {
    border-color: var(--ANTI-FLASH-WHITE);
  }
  .testimonials__slide--client-desc::after {
    border-color: var(--ANTI-FLASH-WHITE);
  }
  .testimonials__slide--client-name b {
    color: var(--ANTI-FLASH-WHITE);
  }
}
@media only screen and (min-width: 986px) {
  .testimonials__content {
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
  }
  .testimonials__content--title {
    margin: 0 40px 0 0;
  }
  .testimonials__swiper--row {
    padding: 50px 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .testimonials__slide--client-desc {
    font-size: 18px;
    padding: 48px 52px;
  }
  .testimonials__slide--client-name {
    font-size: 18px;
  }
  .testimonials__slide--client-name b {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */