*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  border-radius: 14px;
  padding: 20px 35px;
  color: var(--WHITE);
  background-color: var(--EERIE-BLACK);
  transition: opacity ease 0.3s;
  outline-color: var(--INCHWORM);
  text-decoration: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 12px;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --INCHWORM: #B9FF66;
  --ANTI-FLASH-WHITE: #F3F3F3;
  --EERIE-BLACK: #191A23;
  --BLACK: #000;
  --WHITE: #fff;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 60px;
  background-color: var(--WHITE);
  transition: ease 0.3s;
}

.shadow {
  padding: 15px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.header__row {
  display: flex;
  align-items: center;
}

.header__logo {
  outline-color: var(--INCHWORM);
  transition: opacity ease 0.3s;
}
.header__logo img {
  display: block;
  width: 220px;
  height: 56px;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 1;
}

.nav {
  margin-left: auto;
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--BLACK);
  margin-right: 40px;
  outline-color: var(--INCHWORM);
  transition: opacity ease 0.3s;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link:active {
  opacity: 1;
}

.header__btn {
  background-color: transparent;
  color: var(--BLACK);
  border: 1px solid var(--BLACK);
  transition: background-color ease 0.3s;
  margin-right: 0;
}
.header__btn:hover {
  background-color: var(--EERIE-BLACK);
  color: var(--WHITE);
}

.header__menu {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .nav__link {
    margin-right: 34px;
  }
  .header__btn {
    padding: 18px 28px;
  }
}
@media only screen and (max-width: 1200px) {
  .header__logo img {
    width: 192px;
    height: 48px;
  }
  .nav__link {
    font-size: 18px;
    margin-right: 24px;
  }
  .header__btn {
    font-size: 18px;
    padding: 10px 21px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__logo img {
    width: 182px;
    height: 42px;
  }
  .nav__link {
    margin-right: 14px;
  }
  .header__btn {
    font-size: 18px;
    padding: 10px 18px;
  }
}
@media only screen and (max-width: 922px) {
  .nav,
  .header__btn {
    display: none;
  }
  .header__menu {
    display: block;
    margin-left: auto;
    transition: opacity ease 0.3s;
  }
  .header__menu:hover {
    opacity: 0.6;
  }
  .header__menu:active {
    opacity: 1;
  }
  .header__menu--open {
    display: block;
    cursor: pointer;
  }
  .header__menu--close {
    display: none;
  }
  .nav.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 140px 26px 0 20px;
    background-color: var(--EERIE-BLACK);
  }
  .nav.sidebar .nav__link {
    font-size: 22px;
    margin: 0;
    padding-bottom: 22px;
    color: var(--WHITE);
  }
}/*# sourceMappingURL=main.css.map */