*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  border-radius: 14px;
  padding: 20px 35px;
  color: var(--WHITE);
  background-color: var(--EERIE-BLACK);
  transition: opacity ease 0.3s;
  outline-color: var(--INCHWORM);
  text-decoration: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  opacity: 1;
}

.hidden {
  display: none !important;
}

.title {
  display: inline-block;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding: 0 7px;
  background-color: var(--ANTI-FLASH-WHITE);
  border-radius: 7px;
}

.desc {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 12px;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --INCHWORM: #B9FF66;
  --ANTI-FLASH-WHITE: #F3F3F3;
  --EERIE-BLACK: #191A23;
  --BLACK: #000;
  --WHITE: #fff;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 60px;
  background-color: var(--WHITE);
  transition: ease 0.3s;
  z-index: 1000;
}

.shadow {
  padding: 15px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.header__row {
  display: flex;
  align-items: center;
}

.header__logo {
  outline-color: var(--INCHWORM);
  transition: opacity ease 0.3s;
}
.header__logo img {
  display: block;
  width: 220px;
  height: 56px;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__logo:active {
  opacity: 1;
}

.nav {
  margin-left: auto;
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--BLACK);
  margin-right: 40px;
  outline-color: var(--INCHWORM);
  transition: opacity ease 0.3s;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link:active {
  opacity: 1;
}

.header__btn {
  background-color: transparent;
  color: var(--BLACK);
  border: 1px solid var(--BLACK);
  transition: background-color ease 0.3s;
  margin-right: 0;
}
.header__btn:hover {
  background-color: var(--EERIE-BLACK);
  color: var(--WHITE);
}

.header__menu {
  display: none;
}

.header__sidebar {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .nav__link {
    margin-right: 34px;
  }
  .header__btn {
    padding: 18px 28px;
  }
}
@media only screen and (max-width: 1200px) {
  .header__logo img {
    width: 192px;
    height: 48px;
  }
  .nav__link {
    font-size: 18px;
    margin-right: 24px;
  }
  .header__btn {
    font-size: 18px;
    padding: 10px 21px;
  }
}
@media only screen and (max-width: 1024px) {
  .header__logo img {
    width: 182px;
    height: 42px;
  }
  .nav__link {
    margin-right: 14px;
  }
  .header__btn {
    font-size: 18px;
    padding: 10px 18px;
  }
}
@media only screen and (max-width: 922px) {
  .nav,
  .header__btn {
    display: none;
  }
  .header__menu {
    display: block;
    position: relative;
    margin-left: auto;
    transition: opacity ease 0.3s;
    cursor: pointer;
  }
  .header__menu:hover {
    opacity: 0.6;
  }
  .header__menu:active {
    opacity: 1;
  }
  .header__sidebar {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    text-align: right;
    padding: 140px 26px 0 20px;
    background-color: var(--EERIE-BLACK);
  }
  .header__sidebar .nav__link {
    font-size: 22px;
    margin: 0;
    padding-bottom: 22px;
    color: var(--WHITE);
  }
  .header__sidebar--closebtn {
    position: absolute;
    top: 42px;
    right: 25px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity ease 0.3s;
  }
  .header__sidebar--closebtn:hover {
    opacity: 0.6;
  }
  .header__sidebar--closebtn:active {
    opacity: 1;
  }
}
.hero {
  padding-top: 200px;
}

.hero__content {
  display: grid;
  grid-template-columns: 531px auto;
  grid-template-rows: minmax(min-content, 200px) minmax(min-content, 112px) auto;
  justify-content: space-between;
  row-gap: 35px;
}

.hero__content--title {
  font-size: 60px;
  font-weight: 500;
}

.hero__content-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.hero__content--btn {
  height: 68px;
  max-width: 264px;
}

.hero__picture {
  display: block;
  grid-column: 2/3;
  grid-row: 1/4;
  max-width: 600px;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .hero__content {
    grid-template-columns: 512px auto;
    grid-template-rows: minmax(min-content, 180px) minmax(min-content, 84px) auto;
    row-gap: 12px;
  }
  .hero__content--title {
    font-size: 52px;
  }
  .hero__content-desc {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .hero__picture {
    max-width: 532px;
  }
  .hero__content--btn {
    height: 58px;
    max-width: 254px;
    font-size: 18px;
    padding: 10px 21px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__content {
    grid-template-columns: 440px auto;
    grid-template-rows: minmax(min-content, 156px) minmax(min-content, 84px) auto;
    row-gap: 0;
  }
  .hero__content--title {
    font-size: 42px;
  }
  .hero__picture {
    max-width: 448px;
  }
  .hero__content--btn {
    height: 52px;
    max-width: 217px;
  }
}
@media only screen and (max-width: 922px) {
  .hero {
    padding-top: 152px;
  }
  .hero__content {
    grid-template-columns: minmax(min-content, 675px);
    grid-template-rows: repeat(4, auto);
  }
  .hero__content--title {
    font-size: 43px;
    margin-bottom: 10px;
  }
  .hero__picture {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 20px;
  }
  .hero__content-desc {
    font-size: 16px;
    margin-bottom: 26px;
  }
  .hero__content--btn {
    height: 55px;
    max-width: 224px;
  }
}
@media only screen and (max-width: 430px) {
  .hero__content--btn {
    max-width: 100%;
    height: 68px;
    font-size: 20px;
  }
  .hero__content-desc {
    line-height: 24px;
  }
}
.company {
  padding-top: 70px;
  width: 100%;
}

.company__picture {
  justify-content: space-between;
}

.company__picture--img {
  flex-shrink: 1;
  height: 48px;
  width: 127px !important;
}

@media only screen and (max-width: 1200px) {
  .company {
    padding-top: 54px;
  }
}
.service {
  padding-top: 140px;
}/*# sourceMappingURL=main.css.map */