.case {
    padding-top: 163.5px;
}
.case__content {
    display: flex;
}
.case__content--title {
    margin-right: 40px;
}
.case__content--desc {
    max-width: 580px;
}
.swiper.case__swiper {
    margin-top: 80px;
    padding: 70px 60px;
    border-radius: 45px;
    background-color: var(--EERIE-BLACK);
}
.case__wrap {
    column-gap: 128px;
}
.case__wrap--slide {
    width: 286px !important;
    position: relative;
    background-color: var(--EERIE-BLACK);

    &:not(:last-child):after {
        content: '';
        width: 1px;
        height: 164px;
        position: absolute;
        top: 0;
        right: -64px;
        background-color: var(--WHITE);
    }
}
.case__desc {
    font-size: 18px;
    font-weight: 400;
    color: var(--WHITE);
    margin-bottom: 20px;
    cursor: default;
}
.case__link {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-width: 138px;
    color:var(--WHITE);
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .case {
        padding-top: 128px;
    }
    .swiper.case__swiper {
        margin-top: 65px;
        padding: 60px 42px;
    }
}
@media only screen and (max-width: 985px) {
    .case__content {
        flex-direction: column;
    }
    .case__content--title {
        align-self: flex-start;
        margin-bottom: 16px;
        margin-right: 0;
    }
    .swiper.case__swiper {
        background-color: inherit;
        padding: 0;
        border-radius: 0;
    }
    .case__wrap {
        column-gap: 20px;
    }
    .case__wrap--slide {
        width: 350px !important;
        padding: 42px 50px;
        border-radius: 45px;

        &::after {
            display: none;
        }
    }
}
@media only screen and (max-width: 440px) {
    .case__content--title {
        align-self: center;
        margin-bottom: 30px;
        background-color: var(--INCHWORM);
    }
    .case__content--desc {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}
@media only screen and (max-width: 425px) {
    .swiper.case__swiper  {
        margin-top: 42px;
    }
    .case__content--title {
        font-size: 38px;
    }
    .case__wrap--slide {
        width: 320px !important;
        padding: 32px 40px;
    }
    .case__link {
        font-size: 16px;
    }
}