.hero {
    padding-top: 200px;
}
.hero__row {
    display: flex;
    justify-content: space-between;
}
.hero__content {
    max-width: 531px;
}
.hero__content--title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 35px;
}
.hero__content-desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 35px;
}
.hero__picture {
    & img {
        display: block;
    }
}