.service {
    padding-top: 140px;
}
.service__row {
}
.service__content {
    display: flex;
    margin-bottom: 80px;
}
.service__content--title {
    margin-right: 40px;
}
.service__content--desc {
    max-width: 580px;
}
.service__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
}
.service__list--item {
    display: grid;
    grid-template-columns: 221px 210px;
    grid-template-rows: auto 41px;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    height: auto;
    background-color: var(--ANTI-FLASH-WHITE);
    border-radius: 45px;
    padding: 50px;
    border: 1px solid var(--EERIE-BLACK);
    border-bottom: 5px solid var(--EERIE-BLACK);
}
.service__list--item:nth-child(3),
.service__list--item:nth-child(6) {
    background-color: var(--EERIE-BLACK);
}
.service__item--subtitle {
    margin-bottom: 93px;
    font-size: 30px;
    
    & span {
        display: inline-block;
        padding: 0 7px;
        border-radius: 7px;
        background-color: var(--ANTI-FLASH-WHITE);
    }
    &.service__item--subtitle-payper span{
        background-color: var(--WHITE);
    }
    &.service__item--subtitle-social span{
        background-color: var(--WHITE);
    }
    &.service__item--subtitle-content span{
        background-color: var(--WHITE);
    }
}
.service__item--img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.service__item--search {
}
.service__item--payper {
}
.service__item--social {
}
.service__item--email {
}
.service__item--content {
}
.service__item--analytic {
}
.service__item--link {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
    line-height: 24px;
    color: var(--BLACK);
}
.service__item--link-dark {
    color: var(--WHITE);
}
.service__link--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50px;
    background-color: var(--EERIE-BLACK);
}
.service__link--icon-dark {
    background-color: var(--WHITE);

    & path {
        fill: var(--BLACK);
    }
}

@media only screen and (max-width: 1280px) {
    .service__list {
        justify-content: center;
    }
    .service__list--item {
        max-width: 560px;
        padding: 32px;
    }
}
@media only screen and (max-width: 1200px)  {
    .service__list {
        gap: 26px;
    }
    .service__list--item {
        max-width: 500px;
        padding: 24px;
    }
}
@media only screen and (max-width: 1076px) {
    .service__list--item {
        max-width: 468px;
        grid-template-columns: 221px 172px
    }
    .service__item--subtitle {
        margin-bottom: 52px;
        font-size: 27px;
    }
    .service__item--img {
        width: 160px;
        height: 150px;
        object-fit: contain;
    }
    .service__item--link {
        font-size: 18px;
    }
    .service__link--icon {
        width: 32px;
        height: 32px;

        & svg {
        }
    }
}
@media only screen and (max-width: 985px) {
    .service__list--item {
        max-width: 600px;
        grid-template-columns: 221px 172px;
        padding: 50px;
    }
    service__item--subtitle {
        font-size: 26px;
    }
    .service__item--img {
        width: 165px;
        height: 130px;
    }
    .service__link--icon {
        width: 41px;
        height: 41px;
    }
    .service__item--link {
        font-size: 20px;
    }
}
@media only screen and (max-width: 520px) {
    .service__item--link {
        font-size: 0;
    }
}