.testimonials {
    padding-top: 60px;
}
.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.testimonials__content--title {
    margin-bottom: 30px;
    background-color: var(--INCHWORM);
}
.testimonials__content--desc {
    max-width: 473px;
    text-align: center;
    font-size: 16px;
}
.testimonials__swiper--row {
    color: var(--WHITE);
    background-color: var(--EERIE-BLACK);
    border-radius: 45px;
    padding: 25px 15px;
}
.testimonials__slide--client-desc {
    position: relative;
    font-size: 15px;
    padding: 26px;
    border: 1px solid var(--INCHWORM);
    border-radius: 45px;
    user-select: none;
    margin-bottom: 44px;

    &::after {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        bottom: -16px;
        left: 51px;
        rotate: 45deg;
        border: 1px solid var(--INCHWORM);
        border-top: none;
        border-left: none;
        background-color: var(--EERIE-BLACK);
        z-index: 1;
    }
}
.testimonials__slide--client-name {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding-left: 62px;
    margin-bottom: 60px;

    & b {
        font-weight: 600;
        font-size: 18px;
        color: var(--INCHWORM);
    }
}
.testimonials__pagination.swiper-pagination {
    position: static;

    & .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-image: url('/img/testimonials/pagination.svg');
        background-repeat: no-repeat;
        background-color: transparent;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-image: url('/img/testimonials/active-pagination.svg');
        }        
    }
}
.testimonials__arrows {
    max-width: 564px;
    position: relative;
    bottom: 0;
    top: -12px;
    margin: 0 auto;
}
.testimonials__prev.swiper-button-prev,
.testimonials__next.swiper-button-next {
    z-index: 1;
}
.testimonials__prev.swiper-button-prev {

    &::after {
        content: '';
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
        background-image: url('/img/testimonials/arrow.svg');
        background-repeat: no-repeat;
    }
}
.testimonials__next.swiper-button-next {

    &::after {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url('/img/testimonials/arrow.svg');
        background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 440px)  {
    .testimonials__content {
        align-items: flex-start;
    }
    .testimonials__content--title {
        margin-bottom: 16px;
        background-color: var(--ANTI-FLASH-WHITE);
    }
    .testimonials__content--desc {
        text-align: left;
    }
    .testimonials__slide--client-desc {
        border-color: var(--ANTI-FLASH-WHITE);

        &::after {
            border-color: var(--ANTI-FLASH-WHITE);
        }
    }
    .testimonials__slide--client-name {
        & b {
            color: var(--ANTI-FLASH-WHITE);
        }
    }
    .testimonials__pagination.swiper-pagination {
    
        & .swiper-pagination-bullet {
            opacity: .2;
    
            &.swiper-pagination-bullet-active {
                opacity: 1;
                background-image: url('/img/testimonials/pagination.svg');
            }        
        }
    }
} 
@media only screen and (min-width: 560px) {

}
@media only screen and (min-width: 986px) {
    .testimonials__content {
        flex-direction: row;
        align-items: center;
        margin-bottom: 80px;
    }
    .testimonials__content--title {
        margin: 0 40px 0 0;
    }
    
.testimonials__swiper--row {
    padding: 50px 15px;
    }
}
@media only screen and (min-width: 1280px) {
    .testimonials__slide--client-desc {
        font-size: 18px;
        padding: 48px 52px;
    }
    .testimonials__slide--client-name {
        font-size: 18px;

        & b {
            font-size: 20px;
        }
    }
}